<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>tumblr de temu</title>
</head>

<body>
    <header>

    </header>
    <div class="container">
        <div class="content">
            <div class="content__header">
                <nav>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#">Explore</a></li>
                        <li><a class="active" href="#">Communities</a></li>
                        <li><a href="#">Change the palette</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <footer>

    </footer>
</body>

</html>