body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #001935;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #bebebe;
  padding: 10px 16px;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  align-items: center; /* Alinea el ícono con el texto */
  gap: 10px; /* Espacio entre el icono y el texto */
  margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  gap: 10px; /* Asegura que haya separación entre el ícono y el texto */
}

nav ul li a svg {
  fill: white !important; 
  width: 18px;
  height: 18px;
}



nav li a:hover {
  background-color: #0d243f;
}

.active {
  color: white;
}


header {
  background-color: #001935;
  color: white;
  padding: 15px 20px;
  text-align: center;
  width: calc(100% - 240px); 
  position: relative; 
  border-bottom: 1px solid #0d243f;
  height: 60px;
  line-height: 30px;
  margin-left: 240px;
}



.content {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
  background-color: #001935;
  border-right: 1px solid #0d243f;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.content__header {
  flex: 1;
  padding: 10px;
}

.container {
  position: fixed;
  width: 80px;
  height: 200px;
  padding-top: 200px;
  padding-left: 70px;
  color: white;
  overflow-x: hidden;
  
}

.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  color: white;
  padding: 16px;
  margin-right: 40px;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.create-community-btn {
  background-color: #00a9dd;
  color: white;
  padding: 5px 15px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #0d243f;
  padding: 5px 15px;
  border-radius: 25px;
  height: 40px; 
}

.search-input {
  background: none;
  border: none;
  font-size: 14px;
  padding: 5px 15px;
  padding-right: 20px;
  color: white;
  outline: none;
}


.search-input::placeholder {
  color: #aaa;
}

.containerimages {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  grid-template-rows: repeat(5, 1fr); /* 5 filas */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-bottom: 120px; /* Espacio para no solaparse con el footer */
  position: relative;
  padding-left: 250px;
  padding-right: 40px;
  padding-top: 10px;
  margin-right: 40px;
  margin-left: 10px;
  top: 50px; /* Ajusta el top para que no se solape con el header */
  box-sizing: border-box;
}
  
  .div1 { grid-area: 1 / 1 / 2 / 2; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div2 { grid-area: 1 / 2 / 2 / 3; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div3 { grid-area: 1 / 3 / 3 / 5; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div4 { grid-area: 2 / 1 / 3 / 2; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div5 { grid-area: 2 / 2 / 3 / 3; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div6 { grid-area: 3 / 1 / 5 / 3; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div7 { grid-area: 3 / 3 / 4 / 4; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div8 { grid-area: 3 / 4 / 4 / 5; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div9 { grid-area: 4 / 3 / 5 / 4; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div10 { grid-area: 4 / 4 / 5 / 5; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div11 { grid-area: 5 / 1 / 6 / 2; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div12 { grid-area: 5 / 2 / 6 / 3; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div13 { grid-area: 5 / 3 / 6 / 4; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}
  .div14 { grid-area: 5 / 4 / 6 / 5; 
    background-color: #0d243f;
    border-radius: 5%;
    aspect-ratio: 1;}

    .div1 img, .div2 img, .div3 img, .div4 img, .div5 img, .div6 img, .div7 img, .div8 img, .div9 img, .div10 img, .div11 img, .div12 img, .div13 img, .div14 img {
      width: 100%; /* La imagen tomará todo el ancho del contenedor */
      height: 90%; /* La imagen tomará todo el alto del contenedor */
      object-fit: cover; /* Asegura que la imagen cubra completamente el área del div sin distorsionar */
      border-radius: 5%; /* Mantiene el borde redondeado */
    }

    /* Asegura que el texto de los elementos <p> dentro de los divs sea blanco y en negrita */
.div1 p, .div2 p, .div3 p, .div4 p, .div5 p, .div6 p, .div7 p, .div8 p, .div9 p, .div10 p, .div11 p, .div12 p, .div13 p, .div14 p {
  color: white; /* El texto será blanco */
  font-weight: bold; /* El texto será en negrita */
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 10px; /* Agrega un poco de espacio alrededor del texto */
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover, .div7:hover, .div8:hover, .div9:hover, .div10:hover, .div11:hover, .div12:hover, .div13:hover, .div14:hover {
  background-color: #194679;
}


footer {
  justify-content: start;
  color: white;
  padding: 15px 0;
  padding-left: 0px;
  position: relative;
  width: auto;
  bottom: 0;
  margin-top: 20px; 
  margin-left: 240px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

footer a:hover {
  text-decoration: underline;
}

