* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 1280px;
    height: 720px;
    overflow: hidden; /* Evita desplazamientos */
}

.body-container {
    width: 100%;
    height: 100%;
    overscroll-behavior-y: none;
}

#main {
    height: 100%;
    width: 100%;
    isolation: isolate;
    z-index: 0;
    position: relative;
}

.principal-container {
    background-color: #000;
    display: grid;
    gap: 8px;
    grid-template-areas: 
        "global-nav     global-nav      global-nav"
        "left-sidebar   main-view       right-sidebar"
        "now-playing-bar now-playing-bar now-playing-bar";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    padding: 8px;
    position: relative;
    width: 100%;
}


.nav-top{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: global-nav;
    background-color: #000;
    height: calc(48px + 8px*2);
    justify-content: space-between;
    margin: calc(8px*-1);
    padding: 8px;
    position: relative;
}

.logo-container{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 8px;
    z-index: 1;
}

.logo{
    flex-direction: row;
    margin: 20px;
    height: 32px;
    width: 32px;
}

.container-bar {
    width: 507.81px;
    height: 48px;
    display: flex;
    /*justify-content: flex-start;*/
    flex: 1;
}

.bar-int{
    min-width: auto;
    width: 507.81px;
    display: flex;
    align-items: center;

}

.boton-inicio {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: #1f1f1f;
    border-radius: 50%;
    margin-left: 8px;
}

.search-contain{
    width: 451.81px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 435.81px;
    height: 48px;
    border: none;
    background-color: #1f1f1f;
    border-radius: 500px;
    padding-inline: 8px;
}
.search-bar svg {
    width: 24px;
    height: 48px;
}

.search-icon{
    display: flex;
    position: relative;
    width: 48px;
    height: 48px;
    justify-content: center;
}

.icon1 {
    width: 24px;
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
}
.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 0px;
    background-color: #1f1f1f;
    color: white;
}

.icon {
    padding-left: 12px;
    padding-right: 4px;
}

.rest-nav{
    min-width: auto;
    width: 684.19px;
    height: 57px;
    align-content: center;
}

.flex-cont{
    display: flex;
    gap: 8px;
}

.boton-nav{
    font-weight: 700;
    font: 16px;
    padding: 8px 0;
    background-color: #000;
    color:#b3b3b3;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.reg{
    font-weight: 700;
    font: 16px;
    background-color: #000;
    color:#b3b3b3;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 4px 16px 4px 8px;
}

.separador{
    background: #fff;
    height: 25px;
    margin: 16px;
    width: 1px;
}

.botones-log{
    display: flex;
    justify-content: center;
    align-content: center;
}

.big-boton{
    background-color: #fff;
    font-size: 16px;
    padding: 8px 32px;
    cursor: pointer;
    border-radius: 9999px;
}

.left-bar{
    display: flex;
    grid-area: left-sidebar;
    position: relative;
    -webkit-box-orient: vertical;
    border-radius: 8px;
    flex-direction: column;
}

.nav-left{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.contain-left-items{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1;
    position: relative;
    background-color: #121212;
    border-radius: 8px;
    cursor: default;
    overflow-x: hidden;
}

.mitad-superior{
    display: flex;
    padding-top: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #121212;
    flex: 1;
    height: 100%;
    min-height: 0;
    overflow-x: hidden;
}

.left-header{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 8px;
    padding: 12px 16px 8px;
    position: relative;
    z-index: 1;
}

.left-container-one{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

.left-titulo{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    min-width: 0;
    margin-inline-end: auto;
}

.texto-titulo{
    margin-inline-start: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0;
}

.boton-playlist{
    display: flex;
    gap: 8px;
}

.boton-mas{
    width: 35px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #121212;
}

.boton-mas:hover{
    background-color: #1f1f1f;
}

.separador-left{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    margin: 8px 16px;
}

.slide-container{
    height: 100%;
    overscroll-behavior-y: contain;
    display: flex;
    -webkit-box-align: stretch !important;
    align-items: stretch !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    scroll-behavior: auto !important;
}

.slide-items{
    box-sizing: inherit;
    position: relative;
    -webkit-box-flex: 1 !important;
    border: none;
    flex: auto !important;
    height: auto;
    margin: 0;
    min-width: 0;
}

.items-left{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    container-name: ylx-contents;
    container-type: inline-size;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px 8px;
}

.cuadro-texto{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    background-color: #1f1f1f;
    border-radius: 8px;
    gap: 20px;
    margin: 8px 0;
    padding: 16px 20px;
}

.textos{
    gap: 8px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.texto-bold{
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0;
}

.texto-regular{
    color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0;
}

.boton-section{
    align-self: flex-start;
}

.boton-section-item{
    font-weight: 700;
    font: 14px;
    font-size: 0.875rem;
    align-self: center;
    min-inline-size: 0;
    padding: 0;
    background-color: initial;
    border: 0;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #000;
    padding: 4px 16px;
}

.barra-vertical{
    --os-viewport-percent: 0.7642;
    --os-scroll-direction: 0;
    bottom: 0;
    top: 0;
    --os-size: 12px;
    --os-handle-min-size: 30px;
    --os-handle-bg: hsla(0, 0%, 100%, .3);
    --os-handle-bg-hover: hsla(0, 0%, 100%, .5);
    --os-handle-bg-active: hsla(0, 0%, 100%, .7);
    -webkit-app-region: no-drag;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    width: 12px;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;
    --os-track-border-radius: 0;
    --os-track-bg: none;
    --os-track-bg-hover: none;
    --os-track-bg-active: none;
    --os-track-border: none;
    --os-track-border-hover: none;
    --os-track-border-active: none;
    --os-handle-border-radius: 0;
    --os-handle-border-hover: none;
    --os-handle-border-active: none;
    --os-handle-max-size: none;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
}

.mitad-inferior{
    overflow: hidden;
}

.cuadrar-footer{
    margin: 32px 0;
    padding: 0 24px;
    text-align: start;
}

.container-links{
    display: flex;
    flex-wrap: wrap;
}

.link-item{
    margin-right: 16px;
}

.link-cont{
    display: inline-flex;
    margin-bottom: 8px !important;
    text-decoration: none !important;
    line-height: inherit !important;
    border: none !important;
    padding: 0px !important;
    color:#b3b3b3 !important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-align: center;
    align-items: center;
}

.text-link{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.6875rem;
    font-weight: 400;
    color: inherit;
    cursor: pointer;
}

.cookies-link{
    color: #fff;
    text-decoration: none;
    padding-inline-end: 16px;
    font-size: 0.75rem;
    cursor: pointer;
}

.container-idioma{
    margin-bottom: 32px;
    padding: 0 24px;
}

.boton-idioma{
    font-weight: 700;
    font-size: 0.875rem;
    min-block-size: 32px;
    padding-block: 4px;
    padding-inline: 16px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border-radius: 9999px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    border: 1px solid #7c7c7c;
    color: #fff;
    min-inline-size: 0px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}